# Dependency folders
node_modules/
.env
.env.local
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Other
*.log
*.cache
